[Desktop Entry]
Name=Kaisen
Comment=Custom Breeze theme for Kaisen Linux
Comment[de]=Benutzerdefiniertes Breeze-Thema für Kaisen Linux
Comment[es]=Tema Breeze personalizado para Kaisen Linux
Comment[fr]=Thème Breeze personnalisé pour Kaisen Linux
Comment[it]=Tema Breeze personalizzato per Kaisen Linux
Comment[pt]=Tema personalizado Breeze para Kaisen Linux
X-KDE-PluginInfo-Author=Kevin Chevreuil - Kaisen
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=kaisen@kaisenlinux.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=AGPL
X-KDE-PluginInfo-Name=Kaisen
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kaisenlinux.org
X-KDE-ServiceTypes=Plasma/LookAndFeel
